@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: 'Roboto', 'Courier New', 'Franklin Gothic Medium', 'Arial Narrow';

}

.heading  {
  margin: 50px auto;
  text-transform: uppercase;
  color: white;
}

